UnderRule/.vs/UnderRule/v15/Server/sqlite3/db.lock
UnderRule/.vs/UnderRule/v15/sqlite3/db.lock
UnderRule/.vs/UnderRule/v15/Server/sqlite3/storage.ide-wal
UnderRule/.vs/UnderRule/v15/Server/sqlite3/storage.ide-shm
UnderRule/.vs/UnderRule/v15/Server/sqlite3/storage.ide
UnderRule/UnderRule.PlayerService/obj/Debug/netcoreapp2.0/UnderRule.PlayerService.csprojResolveAssemblyReference.cache
UnderRule/CommonObjects/obj/CommonObjects.csproj.nuget.cache
UnderRule/CommonObjects/obj/CommonObjects.csproj.nuget.g.props
UnderRule/CommonObjects/obj/project.assets.json
UnderRule/CommonObjects/obj/Debug/netstandard2.0/CommonObjects.csproj.CoreCompileInputs.cache
UnderRule/UnderRule.ApiGateway.Interface/obj/Debug/netstandard2.0/UnderRule.ApiGateway.Interface.AssemblyInfo.cs
UnderRule/.vs/UnderRule/v15/.suo
UnderRule/UnderRule.ApiGateway.Interface/obj/Debug/netstandard2.0/UnderRule.ApiGateway.Interface.AssemblyInfoInputs.cache
UnderRule/UnderRule.ApiGateway.Interface/obj/Debug/netstandard2.0/UnderRule.ApiGateway.Interface.csproj.CoreCompileInputs.cache
UnderRule/UnderRule.ApiGateway/obj/project.assets.json
UnderRule/UnderRule.ApiGateway/obj/UnderRule.ApiGateway.csproj.nuget.cache
UnderRule/UnderRule.ApiGateway/obj/UnderRule.ApiGateway.csproj.nuget.g.props
UnderRule/UnderRule.ApiGateway/obj/Debug/netcoreapp2.0/UnderRule.ApiGateway.csproj.CoreCompileInputs.cache
UnderRule/UnderRule.FrontEnd/obj/project.assets.json
UnderRule/UnderRule.ApiGateway/obj/Debug/netcoreapp2.0/UnderRule.ApiGateway.csprojResolveAssemblyReference.cache
UnderRule/UnderRule.Authentication/obj/project.assets.json
UnderRule/UnderRule.Authentication/obj/UnderRule.Authentication.csproj.nuget.cache
UnderRule/UnderRule.Authentication/obj/UnderRule.Authentication.csproj.nuget.g.props
UnderRule/UnderRule.Authentication/obj/Debug/netcoreapp2.0/UnderRule.Authentication.csproj.CoreCompileInputs.cache
UnderRule/UnderRule.Authentication/obj/Debug/netcoreapp2.0/UnderRule.Authentication.csprojResolveAssemblyReference.cache
UnderRule/UnderRule.CombatService/obj/project.assets.json
UnderRule/UnderRule.CombatService/obj/UnderRule.CombatService.csproj.nuget.cache
UnderRule/UnderRule.CombatService/obj/UnderRule.CombatService.csproj.nuget.g.props
UnderRule/UnderRule.CombatService/obj/Debug/netcoreapp2.0/UnderRule.CombatService.csproj.CoreCompileInputs.cache
UnderRule/UnderRule.CombatService/obj/Debug/netcoreapp2.0/UnderRule.CombatService.csprojResolveAssemblyReference.cache
UnderRule/UnderRule.FrontEnd/obj/UnderRule.FrontEnd.csproj.nuget.cache
UnderRule/UnderRule.FrontEnd/obj/UnderRule.FrontEnd.csproj.nuget.g.props
UnderRule/UnderRule.FrontEnd/obj/Debug/netcoreapp2.0/UnderRule.FrontEnd.csproj.CoreCompileInputs.cache
UnderRule/UnderRule.FrontEnd/obj/Debug/netcoreapp2.0/UnderRule.FrontEnd.csprojResolveAssemblyReference.cache
UnderRule/UnderRule.PlayerService/obj/project.assets.json
UnderRule/UnderRule.PlayerService/obj/UnderRule.PlayerService.csproj.nuget.cache
UnderRule/UnderRule.PlayerService/obj/UnderRule.PlayerService.csproj.nuget.g.props
UnderRule/UnderRule.PlayerService/obj/Debug/netcoreapp2.0/UnderRule.PlayerService.csproj.CoreCompileInputs.cache
UnderRule/UnderRule.WorldService/obj/project.assets.json
UnderRule/UnderRule.WorldService/obj/UnderRule.WorldService.csproj.nuget.cache
UnderRule/UnderRule.WorldService/obj/UnderRule.WorldService.csproj.nuget.g.props
UnderRule/UnderRule.WorldService/obj/Debug/netcoreapp2.0/UnderRule.WorldService.csproj.CoreCompileInputs.cache
UnderRule/UnderRule.WorldService/obj/Debug/netcoreapp2.0/UnderRule.WorldService.csprojResolveAssemblyReference.cache
UnderRule/UnderRule.ApiGateway.Interface/obj/UnderRule.ApiGateway.Interface.csproj.nuget.g.targets
UnderRule/UnderRule.ApiGateway.Interface/obj/Debug/netstandard2.0/UnderRule.ApiGateway.Interface.csproj.FileListAbsolute.txt
UnderRule/UnderRule.ApiGateway.Interface/obj/UnderRule.ApiGateway.Interface.csproj.nuget.cache
UnderRule/UnderRule.ApiGateway.Interface/bin/Debug/netstandard2.0/UnderRule.ApiGateway.Interface.deps.json
UnderRule/UnderRule.ApiGateway.Interface/obj/Debug/netstandard2.0/UnderRule.ApiGateway.Interface.csprojResolveAssemblyReference.cache
UnderRule/UnderRule.ApiGateway.Interface/obj/UnderRule.ApiGateway.Interface.csproj.nuget.g.props
UnderRule/UnderRule.ApiGateway.Interface/obj/project.assets.json
UnderRule/UnderRule.WorldService/obj/Debug/netcoreapp2.0/UnderRule.WorldService.csproj.CopyComplete
UnderRule/UnderRule.WorldService/bin/Debug/netcoreapp2.0/CommonObjects.pdb
UnderRule/CommonObjects/obj/Debug/netstandard2.0/CommonObjects.pdb
UnderRule/CommonObjects/obj/Debug/netstandard2.0/CommonObjects.dll
UnderRule/UnderRule.WorldService/bin/Debug/netcoreapp2.0/CommonObjects.dll
UnderRule/UnderRule.WorldService/UnderRule.WorldService.csproj.user
UnderRule/UnderRule.WorldService/obj/Debug/netcoreapp2.0/UnderRule.WorldService.pdb
UnderRule/UnderRule.WorldService/obj/Debug/netcoreapp2.0/UnderRule.WorldService.dll
UnderRule/CommonObjects/bin/Debug/netstandard2.0/CommonObjects.pdb
UnderRule/CommonObjects/bin/Debug/netstandard2.0/CommonObjects.dll
UnderRule/.vs/config/applicationhost.config
UnderRule/UnderRule.WorldService/obj/Debug/netcoreapp2.0/UnderRule.WorldService.csproj.FileListAbsolute.txt
UnderRule/UnderRule.WorldService/bin/Debug/netcoreapp2.0/UnderRule.WorldService.pdb
UnderRule/UnderRule.WorldService/bin/Debug/netcoreapp2.0/UnderRule.WorldService.dll
UnderRule/UnderRule.ApiGateway/bin/Debug/netcoreapp2.0/configuration.Development.json
UnderRule/UnderRule.WorldService/bin/Debug/netcoreapp2.0/UnderRule.WorldService.deps.json
UnderRule/UnderRule.WorldService/bin/Debug/netcoreapp2.0/UnderRule.WorldService.runtimeconfig.dev.json
UnderRule/UnderRule.FrontEnd/obj/Debug/netcoreapp2.0/UnderRule.FrontEnd.csproj.FileListAbsolute.txt
UnderRule/CommonObjects/obj/Debug/netstandard2.0/CommonObjects.csproj.FileListAbsolute.txt
