UnderRule/.vs/UnderRule/v15/Server/sqlite3/db.lock
UnderRule/.vs/UnderRule/v15/sqlite3/db.lock
UnderRule/.vs/UnderRule/v15/Server/sqlite3/storage.ide-wal
UnderRule/.vs/UnderRule/v15/Server/sqlite3/storage.ide-shm
UnderRule/.vs/UnderRule/v15/Server/sqlite3/storage.ide
UnderRule/UnderRule.PlayerService/obj/Debug/netcoreapp2.0/UnderRule.PlayerService.csprojResolveAssemblyReference.cache
UnderRule/CommonObjects/obj/CommonObjects.csproj.nuget.cache
UnderRule/CommonObjects/obj/CommonObjects.csproj.nuget.g.props
UnderRule/CommonObjects/obj/project.assets.json
UnderRule/CommonObjects/obj/Debug/netstandard2.0/CommonObjects.csproj.CoreCompileInputs.cache
UnderRule/UnderRule.ApiGateway.Interface/obj/Debug/netstandard2.0/UnderRule.ApiGateway.Interface.AssemblyInfo.cs
UnderRule/.vs/UnderRule/v15/.suo
UnderRule/UnderRule.ApiGateway.Interface/obj/Debug/netstandard2.0/UnderRule.ApiGateway.Interface.AssemblyInfoInputs.cache
UnderRule/UnderRule.ApiGateway.Interface/obj/Debug/netstandard2.0/UnderRule.ApiGateway.Interface.csproj.CoreCompileInputs.cache
UnderRule/UnderRule.ApiGateway/obj/project.assets.json
UnderRule/UnderRule.ApiGateway/obj/UnderRule.ApiGateway.csproj.nuget.cache
UnderRule/UnderRule.ApiGateway/obj/UnderRule.ApiGateway.csproj.nuget.g.props
UnderRule/UnderRule.ApiGateway/obj/Debug/netcoreapp2.0/UnderRule.ApiGateway.csproj.CoreCompileInputs.cache
UnderRule/UnderRule.FrontEnd/obj/project.assets.json
UnderRule/UnderRule.ApiGateway/obj/Debug/netcoreapp2.0/UnderRule.ApiGateway.csprojResolveAssemblyReference.cache
UnderRule/UnderRule.Authentication/obj/project.assets.json
UnderRule/UnderRule.Authentication/obj/UnderRule.Authentication.csproj.nuget.cache
UnderRule/UnderRule.Authentication/obj/UnderRule.Authentication.csproj.nuget.g.props
UnderRule/UnderRule.Authentication/obj/Debug/netcoreapp2.0/UnderRule.Authentication.csproj.CoreCompileInputs.cache
UnderRule/UnderRule.Authentication/obj/Debug/netcoreapp2.0/UnderRule.Authentication.csprojResolveAssemblyReference.cache
UnderRule/UnderRule.CombatService/obj/project.assets.json
UnderRule/UnderRule.CombatService/obj/UnderRule.CombatService.csproj.nuget.cache
UnderRule/UnderRule.CombatService/obj/UnderRule.CombatService.csproj.nuget.g.props
UnderRule/UnderRule.CombatService/obj/Debug/netcoreapp2.0/UnderRule.CombatService.csproj.CoreCompileInputs.cache
UnderRule/UnderRule.CombatService/obj/Debug/netcoreapp2.0/UnderRule.CombatService.csprojResolveAssemblyReference.cache
UnderRule/UnderRule.FrontEnd/obj/UnderRule.FrontEnd.csproj.nuget.cache
UnderRule/UnderRule.FrontEnd/obj/UnderRule.FrontEnd.csproj.nuget.g.props
UnderRule/UnderRule.FrontEnd/obj/Debug/netcoreapp2.0/UnderRule.FrontEnd.csproj.CoreCompileInputs.cache
UnderRule/UnderRule.FrontEnd/obj/Debug/netcoreapp2.0/UnderRule.FrontEnd.csprojResolveAssemblyReference.cache
UnderRule/UnderRule.PlayerService/obj/project.assets.json
UnderRule/UnderRule.PlayerService/obj/UnderRule.PlayerService.csproj.nuget.cache
UnderRule/UnderRule.PlayerService/obj/UnderRule.PlayerService.csproj.nuget.g.props
UnderRule/UnderRule.PlayerService/obj/Debug/netcoreapp2.0/UnderRule.PlayerService.csproj.CoreCompileInputs.cache
UnderRule/UnderRule.WorldService/obj/project.assets.json
UnderRule/UnderRule.WorldService/obj/UnderRule.WorldService.csproj.nuget.cache
UnderRule/UnderRule.WorldService/obj/UnderRule.WorldService.csproj.nuget.g.props
UnderRule/UnderRule.WorldService/obj/Debug/netcoreapp2.0/UnderRule.WorldService.csproj.CoreCompileInputs.cache
UnderRule/UnderRule.WorldService/obj/Debug/netcoreapp2.0/UnderRule.WorldService.csprojResolveAssemblyReference.cache
UnderRule/UnderRule.ApiGateway.Interface/obj/UnderRule.ApiGateway.Interface.csproj.nuget.g.targets
UnderRule/UnderRule.ApiGateway.Interface/obj/Debug/netstandard2.0/UnderRule.ApiGateway.Interface.csproj.FileListAbsolute.txt
UnderRule/UnderRule.ApiGateway.Interface/obj/UnderRule.ApiGateway.Interface.csproj.nuget.cache
UnderRule/UnderRule.ApiGateway.Interface/bin/Debug/netstandard2.0/UnderRule.ApiGateway.Interface.deps.json
UnderRule/UnderRule.ApiGateway.Interface/obj/Debug/netstandard2.0/UnderRule.ApiGateway.Interface.csprojResolveAssemblyReference.cache
UnderRule/UnderRule.ApiGateway.Interface/obj/UnderRule.ApiGateway.Interface.csproj.nuget.g.props
UnderRule/UnderRule.ApiGateway.Interface/obj/project.assets.json
UnderRule/UnderRule.WorldService/obj/Debug/netcoreapp2.0/UnderRule.WorldService.csproj.CopyComplete
UnderRule/UnderRule.WorldService/bin/Debug/netcoreapp2.0/CommonObjects.pdb
UnderRule/CommonObjects/obj/Debug/netstandard2.0/CommonObjects.pdb
UnderRule/CommonObjects/obj/Debug/netstandard2.0/CommonObjects.dll
UnderRule/UnderRule.WorldService/bin/Debug/netcoreapp2.0/CommonObjects.dll
UnderRule/UnderRule.WorldService/UnderRule.WorldService.csproj.user
UnderRule/UnderRule.WorldService/obj/Debug/netcoreapp2.0/UnderRule.WorldService.pdb
UnderRule/UnderRule.WorldService/obj/Debug/netcoreapp2.0/UnderRule.WorldService.dll
UnderRule/CommonObjects/bin/Debug/netstandard2.0/CommonObjects.pdb
UnderRule/CommonObjects/bin/Debug/netstandard2.0/CommonObjects.dll
UnderRule/.vs/config/applicationhost.config
UnderRule/UnderRule.WorldService/obj/Debug/netcoreapp2.0/UnderRule.WorldService.csproj.FileListAbsolute.txt
UnderRule/UnderRule.WorldService/bin/Debug/netcoreapp2.0/UnderRule.WorldService.pdb
UnderRule/UnderRule.WorldService/bin/Debug/netcoreapp2.0/UnderRule.WorldService.dll
UnderRule/UnderRule.ApiGateway/bin/Debug/netcoreapp2.0/configuration.Development.json
UnderRule/UnderRule.WorldService/bin/Debug/netcoreapp2.0/UnderRule.WorldService.deps.json
UnderRule/UnderRule.WorldService/bin/Debug/netcoreapp2.0/UnderRule.WorldService.runtimeconfig.dev.json
UnderRule/UnderRule.FrontEnd/obj/Debug/netcoreapp2.0/UnderRule.FrontEnd.csproj.FileListAbsolute.txt
UnderRule/CommonObjects/obj/Debug/netstandard2.0/CommonObjects.csproj.FileListAbsolute.txt
UnderRule/UnderRule.FrontEnd/bin/Debug/netcoreapp2.0/UnderRule.FrontEnd.runtimeconfig.dev.json
UnderRule/UnderRule.FrontEnd/bin/Debug/netcoreapp2.0/CommonObjects.dll
UnderRule/UnderRule.FrontEnd/bin/Debug/netcoreapp2.0/UnderRule.FrontEnd.dll
UnderRule/UnderRule.FrontEnd/bin/Debug/netcoreapp2.0/UnderRule.FrontEnd.pdb
UnderRule/UnderRule.Authentication/obj/Debug/netcoreapp2.0/UnderRule.Authentication.csproj.FileListAbsolute.txt
UnderRule.RegistrationService/obj/project.assets.json
UnderRule.RegistrationService/obj/UnderRule.RegistrationService.csproj.nuget.g.targets
UnderRule.RegistrationService/obj/UnderRule.RegistrationService.csproj.nuget.g.props
UnderRule.RegistrationService/obj/Debug/netcoreapp2.0/UnderRule.RegistrationService.csproj.FileListAbsolute.txt
UnderRule.RegistrationService/obj/Debug/netcoreapp2.0/UnderRule.RegistrationService.AssemblyInfo.cs
UnderRule.RegistrationService/bin/Debug/netcoreapp2.0/UnderRule.RegistrationService.runtimeconfig.dev.json
UnderRule.RegistrationService/bin/Debug/netcoreapp2.0/UnderRule.RegistrationService.deps.json
UnderRule.RegistrationService/bin/Debug/netcoreapp2.0/UnderRule.RegistrationService.runtimeconfig.json
UnderRule/UnderRule.FrontEnd/obj/Debug/netcoreapp2.0/UnderRule.FrontEnd.pdb
UnderRule/UnderRule.FrontEnd/obj/Debug/netcoreapp2.0/UnderRule.FrontEnd.dll
UnderRule/CommonObjects/obj/Debug/netstandard2.0/CommonObjects.csprojResolveAssemblyReference.cache
UnderRule/UnderRule.FrontEnd/bin/Debug/netcoreapp2.0/CommonObjects.pdb
UnderRule.RegistrationService/obj/Debug/netcoreapp2.0/UnderRule.RegistrationService.AssemblyInfoInputs.cache
UnderRule.RegistrationService/obj/Debug/netcoreapp2.0/UnderRule.RegistrationService.csproj.CoreCompileInputs.cache
UnderRule/obj/Docker/docker-compose.vs.release.g.yml
UnderRule/obj/Docker/docker-compose.vs.debug.g.yml
UnderRule/obj/Docker/MergedDockerCompose1.cache
UnderRule/obj/Docker/MergedDockerCompose.cache
UnderRule/obj/Docker/HashOfDockerArtifacts.cache
UnderRule/obj/Docker/DockerDevelopmentMode.cache
UnderRule/obj/Docker/CachedComposeConfigFilePaths.cache
UnderRule/CommonObjects/obj/CommonObjects.csproj.nuget.g.targets
UnderRule/CommonObjects/bin/Debug/netstandard2.0/CommonObjects.deps.json
UnderRule/.vs/UnderRule/v15/sqlite3/storage.ide
UnderRule.RegistrationService/obj/UnderRule.RegistrationService.csproj.nuget.cache
UnderRule.RegistrationService/obj/Docker/TargetFramework.cache
UnderRule.RegistrationService/obj/Docker/RelativeOutputAssemblyPath.Regular.cache
UnderRule.RegistrationService/obj/Docker/RelativeOutputAssemblyPath.Fast.cache
UnderRule.RegistrationService/obj/Docker/ProjectReferences.cache
UnderRule.RegistrationService/obj/Docker/CanonicalServiceName.cache
UnderRule.RegistrationService/obj/Docker/AppType.cache
UnderRule.RegistrationService/obj/Debug/netcoreapp2.0/UnderRule.RegistrationService.pdb
UnderRule.RegistrationService/obj/Debug/netcoreapp2.0/UnderRule.RegistrationService.dll
UnderRule.RegistrationService/obj/Debug/netcoreapp2.0/UnderRule.RegistrationService.csprojResolveAssemblyReference.cache
UnderRule.RegistrationService/obj/Debug/netcoreapp2.0/UnderRule.RegistrationService.csproj.CopyComplete
UnderRule.RegistrationService/bin/Debug/netcoreapp2.0/UnderRule.RegistrationService.pdb
UnderRule.RegistrationService/bin/Debug/netcoreapp2.0/UnderRule.RegistrationService.dll
UnderRule.RegistrationService/bin/Debug/netcoreapp2.0/CommonObjects.pdb
UnderRule.RegistrationService/bin/Debug/netcoreapp2.0/CommonObjects.dll
UnderRule/UnderRule.PlayerService/obj/Debug/netcoreapp2.0/UnderRule.PlayerService.pdb
UnderRule/UnderRule.PlayerService/obj/Debug/netcoreapp2.0/UnderRule.PlayerService.dll
UnderRule/UnderRule.PlayerService/obj/Debug/netcoreapp2.0/UnderRule.PlayerService.csproj.FileListAbsolute.txt
UnderRule/UnderRule.CombatService/obj/Docker/RelativeOutputAssemblyPath.Regular.cache
UnderRule/UnderRule.CombatService/obj/Docker/RelativeOutputAssemblyPath.Fast.cache
UnderRule/UnderRule.CombatService/obj/Docker/ProjectReferences.cache
UnderRule/UnderRule.CombatService/obj/Docker/CanonicalServiceName.cache
UnderRule/UnderRule.CombatService/obj/Docker/AppType.cache
UnderRule/UnderRule.CombatService/obj/Debug/netcoreapp2.0/UnderRule.CombatService.pdb
UnderRule/UnderRule.CombatService/obj/Debug/netcoreapp2.0/UnderRule.CombatService.dll
UnderRule/UnderRule.CombatService/bin/Debug/netcoreapp2.0/UnderRule.CombatService.runtimeconfig.dev.json
UnderRule/UnderRule.CombatService/bin/Debug/netcoreapp2.0/UnderRule.CombatService.pdb
UnderRule/UnderRule.CombatService/bin/Debug/netcoreapp2.0/UnderRule.CombatService.dll
UnderRule/UnderRule.Authentication/obj/Docker/TargetFramework.cache
UnderRule/UnderRule.Authentication/obj/Docker/RelativeOutputAssemblyPath.Fast.cache
UnderRule/UnderRule.Authentication/obj/Docker/ProjectReferences.cache
UnderRule/UnderRule.Authentication/obj/Docker/CanonicalServiceName.cache
UnderRule/UnderRule.Authentication/obj/Docker/AppType.cache
UnderRule/UnderRule.Authentication/obj/Debug/netcoreapp2.0/UnderRule.Authentication.pdb
UnderRule/UnderRule.Authentication/obj/Debug/netcoreapp2.0/UnderRule.Authentication.dll
UnderRule/UnderRule.Authentication/bin/Debug/netcoreapp2.0/UnderRule.Authentication.runtimeconfig.dev.json
UnderRule/UnderRule.Authentication/bin/Debug/netcoreapp2.0/UnderRule.Authentication.pdb
UnderRule/UnderRule.Authentication/bin/Debug/netcoreapp2.0/UnderRule.Authentication.dll
UnderRule/UnderRule.ApiGateway/obj/UnderRule.ApiGateway.csproj.nuget.g.targets
UnderRule/UnderRule.ApiGateway/obj/Debug/netcoreapp2.0/UnderRule.ApiGateway.pdb
UnderRule/UnderRule.ApiGateway/obj/Debug/netcoreapp2.0/UnderRule.ApiGateway.dll
UnderRule/UnderRule.ApiGateway/bin/Debug/netcoreapp2.0/UnderRule.ApiGateway.runtimeconfig.dev.json
UnderRule/UnderRule.ApiGateway/bin/Debug/netcoreapp2.0/UnderRule.ApiGateway.pdb
UnderRule/UnderRule.ApiGateway/bin/Debug/netcoreapp2.0/UnderRule.ApiGateway.dll
UnderRule/UnderRule.ApiGateway.Interface/obj/Debug/netstandard2.0/UnderRule.ApiGateway.Interface.pdb
UnderRule/UnderRule.ApiGateway.Interface/obj/Debug/netstandard2.0/UnderRule.ApiGateway.Interface.dll
UnderRule/UnderRule.ApiGateway.Interface/obj/Debug/netstandard2.0/UnderRule.ApiGateway.Interface.csproj.CopyComplete
UnderRule/UnderRule.ApiGateway.Interface/bin/Debug/netstandard2.0/UnderRule.ApiGateway.Interface.pdb
UnderRule/UnderRule.ApiGateway.Interface/bin/Debug/netstandard2.0/UnderRule.ApiGateway.Interface.dll
UnderRule/UnderRule.ApiGateway.Interface/bin/Debug/netstandard2.0/CommonObjects.pdb
UnderRule/UnderRule.ApiGateway.Interface/bin/Debug/netstandard2.0/CommonObjects.dll
UnderRule/UnderRule.WorldService/obj/Docker/ProjectReferences.cache
UnderRule/UnderRule.WorldService/obj/Docker/CanonicalServiceName.cache
UnderRule/UnderRule.WorldService/obj/Docker/AppType.cache
UnderRule/UnderRule.PlayerService/obj/UnderRule.PlayerService.csproj.nuget.g.targets
UnderRule/UnderRule.PlayerService/obj/Docker/TargetFramework.cache
UnderRule/UnderRule.PlayerService/obj/Docker/RelativeOutputAssemblyPath.Regular.cache
UnderRule/UnderRule.PlayerService/obj/Docker/RelativeOutputAssemblyPath.Fast.cache
UnderRule/UnderRule.PlayerService/obj/Docker/ProjectReferences.cache
UnderRule/UnderRule.FrontEnd/obj/UnderRule.FrontEnd.csproj.nuget.g.targets
UnderRule/UnderRule.FrontEnd/bin/Debug/netcoreapp2.0/UnderRule.FrontEnd.deps.json
UnderRule/UnderRule.FrontEnd/bin/Debug/netcoreapp2.0/UnderRule.ApiGateway.Interface.pdb
UnderRule/UnderRule.FrontEnd/bin/Debug/netcoreapp2.0/UnderRule.ApiGateway.Interface.dll
UnderRule/UnderRule.CombatService/obj/UnderRule.CombatService.csproj.nuget.g.targets
UnderRule/UnderRule.CombatService/obj/Docker/TargetFramework.cache
UnderRule/UnderRule.Authentication/obj/Docker/RelativeOutputAssemblyPath.Regular.cache
UnderRule/UnderRule.WorldService/obj/UnderRule.WorldService.csproj.nuget.g.targets
UnderRule/UnderRule.WorldService/obj/Docker/TargetFramework.cache
UnderRule/UnderRule.PlayerService/obj/Docker/CanonicalServiceName.cache
UnderRule/UnderRule.PlayerService/obj/Docker/AppType.cache
UnderRule/UnderRule.PlayerService/bin/Debug/netcoreapp2.0/UnderRule.PlayerService.dll
UnderRule/UnderRule.WorldService/obj/Docker/RelativeOutputAssemblyPath.Regular.cache
UnderRule/UnderRule.WorldService/obj/Docker/RelativeOutputAssemblyPath.Fast.cache
UnderRule/UnderRule.PlayerService/bin/Debug/netcoreapp2.0/UnderRule.PlayerService.pdb
UnderRule/UnderRule.PlayerService/bin/Debug/netcoreapp2.0/UnderRule.PlayerService.runtimeconfig.dev.json
