UnderRule/CommonObjects/obj/
UnderRule/UnderRule.RegistrationService/obj/
UnderRule/obj/
UnderRule/obj/
UnderRule/UnderRule.ApiGateway/obj/
UnderRule/UnderRule.PlayerService/bin/
UnderRule/UnderRule.PlayerService/obj/
UnderRule/UnderRule.WorldService/obj/
UnderRule/UnderRule.Authentication/obj/
UnderRule/UnderRule.CombatService/obj/
UnderRule/UnderRule.RegistrationService/bin/
UnderRule/UnderRule.ApiGateway.Interface/obj/
UnderRule/UnderRule.ApiGateway/bin/
UnderRule/UnderRule.FrontEnd/bin/
UnderRule/UnderRule.FrontEnd/obj/
UnderRule/UnderRule.ApiGateway.Interface/bin/
UnderRule/CommonObjects/bin/
UnderRule/UnderRule.WorldService/bin/
UnderRule/UnderRule.Authentication/bin/
UnderRule/UnderRule.CombatService/bin/
Underrule.Authentication/UnderRule.Authentication/bin/
Underrule.Authentication/UnderRule.Authentication/obj/
UnderRule/.vs/
UnderRule/.vs/
UnderRule/.vs/
UnderRule/.vs/
UnderRule/.vs/
