@model CommonObjects.World;
@{
    ViewData["Title"] = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Game</h1>
<h1>this is where the game should be</h1>

<div>
    <h2>player here</h2>
    <h2>@Model.Player.UserName</h2>
</div>

@foreach (var player in Model.OtherPlayers)
{
<div>
    <h2>other players implemented here</h2>
    
</div>
}