@model Players;
@{
    ViewData["Title"] = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Game</h1>
<h1>this is where the game should be</h1>

@foreach (var player in Model._Players)
{
<div>
    <h2>@player.Name</h2>
    <button>Farm: @player.Farm</button>
    <button>Castle: @player.Castle</button>
    <h6>Changes!</h6>
    <h6>Changes!123</h6>
    <h5>sffafa</h5>

</div>
}