
@{
    ViewData["Title"] = "Home Page";
}

<h1>this is where the game should be</h1>
<h6>maybe we should have a button that redirects to /home/game?</h6>

<a asp-area="" asp-controller="Home" asp-action="Game">Game</a>